<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flask BBS</title>
  </head>
  <body>
    <h1>Flask BBS</h1>
    <a href="{{ url_for('create_thread') }}">Create a thread</a>
    <hr>
    <h2>threads</h2>
    {% for thread in threads %}
      <div>
        <h3><a href="/threads/{{ thread['id'] }}">{{ thread['title'] }}</a></h3>
        {% for post in thread['posts'] %}
        <div>
          Name:
          {% if post['email'] %}
            <a href="mailto:{{ post['email'] }}">{{ post['name'] }}</a>
          {% else %}
            {{ post['name'] }}
          {% endif %}
          {{ post['created_at'] }}
        </div>
        <p>
          {{ post['text'] }}
        </p>
        {% endfor %}
      </div>
    {% endfor %}
  </body>
</html>
